$white: #ffffff;

$color-primary: #95e1d3;
$color-secondary: #f38181;

$text-emphasis: #333333;
$text-base: #999999;
$text-inverse: $white;

$bg-default: $white;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: $bg-default;
  color: $text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

//
$gradient-main: linear-gradient(to bottom, #f48b82, #fce28a);

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  @include mx-auto();
}

.img-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.icon {
  font-size: 1.5rem;
  color: currentColor;
  display: inline-block;
  line-height: 1;
}
